$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: #999999 !default; // #999999
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee

$card-border-color: $gray-lighter !default; // #e5e5e5
$card-bg: #fff !default;
$card-cap-bg: $card-bg !default; // #f5f5f5