<bmw-engage-loader></bmw-engage-loader>
<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
  <mat-tab label="Calculate"> 
      <div class="row">
        <button type="button"
          class="financeButton"
          (click)="financing('EasyDrive')">
          Easy Drive
        </button>
        <button type="button"
          class="financeButton"
          (click)="financing('Balloon')">
          Balloon
        </button>
        <button type="button"
          class="financeButton"
          (click)="financing('StraightLine')">
          Straight Line
        </button>
      </div>
      <div class="row">
        <br>
        <div *ngIf="calculatorDetail?.financingProduct == 'EasyDrive'">          
          <img src="http://localhost:4202/assets/img/fp/tooltip/Easy-Drive.png" alt="easy drive">
          <div [innerHTML]="easyDriveInformation1 | noSanitize" ></div>
        </div> 
        <div *ngIf="calculatorDetail?.financingProduct == 'Balloon'">
          <img src="http://localhost:4202/assets/img/fp/tooltip/Balloon.png" alt="ballon">
          <div [innerHTML]="balloonInformation1 | noSanitize" ></div>
        </div>
        <div *ngIf="calculatorDetail?.financingProduct == 'StraightLine'">
          <img src="http://localhost:4202/assets/img/fp/tooltip/Straight-Line.png" alt="straightLine">
          <div [innerHTML]="straightLineInformation1 | noSanitize"></div>
        </div> 
      </div>
      <div class="row" *ngIf="currentStep === '2' && calculatorDetail">
          <h2>Model: {{ selection }}</h2>
          
          <h2>Monthly Installment: RM {{ calculatorDetail?.monthlyInstallment | number: '1.2-2' }}</h2>
          <h2>Downpayment Percentage: {{ calculatorDetail?.dpPercentage | number: '1.0-0' }}%</h2>
          <h2>Downpayment Value: RM {{ calculatorDetail?.downPayment | number: '1.2-2' }}</h2>
          <div>
              <h2 *ngIf="calculatorDetail?.financingProduct == 'EasyDrive'">Guaranteed Future Value: RM {{ calculatorDetail?.lastMonthInstallment | number: '1.2-2' }}</h2>
              <h2 *ngIf="calculatorDetail?.financingProduct == 'Balloon'">Balloon Value: RM {{ calculatorDetail?.lastMonthInstallment | number: '1.2-2' }}</h2>
              <h2 *ngIf="calculatorDetail?.financingProduct == 'StraightLine'">Last Instalment: RM {{ calculatorDetail?.lastMonthInstallment | number: '1.2-2' }}</h2>
          </div>
      </div>
 </mat-tab>  
  <mat-tab label="Email">
    Name:
    <input type="text" class="form-control" [(ngModel)]="customerName">
    <br>
    <br>
    Email:
    <input type="text" class="form-control" [(ngModel)]="customerEmail">
    <br>
    <br>
    Mobile Number:
    <input type="text" class="form-control" [(ngModel)]="customerMobileNumber">
    <br>
    <br>
    <button
      class="btn btn-primary"
      (click)="onEmail()">Email</button>
  </mat-tab>

</mat-tab-group>
