.two-column {
  width: 100%;
  grid-gap: 0px;
}

// Small Screen
.grey-container-small {
  background-color: #F2F2F2;
  padding-left: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: fit-content;

  h1 {
    color: #262626;
    font-size: 14px;
    font-family: 'BMWBold', 'arial', sans-serif !important;
  }

  .view-btn {
    width: 100%;
    text-align: left;
    border: 1px solid #8E8E8E;
    background: #ffffff;
    margin-left: -5px;
    font-size: 14px;
    font-family: 'BMWBold', 'arial', sans-serif !important;
  }

  .view-btn-icon {
    padding-top: 5px;
    font-size: 25px;
  }
}

.card-small {
  border: 0px;
  padding: 20px;
  overflow: hidden;
}

.left-head-small {
  position: absolute;
  

  h1 {
    color: #8E8E8E;
    font-size: 40px;
    font-family: 'BMWBold', 'arial', sans-serif !important;
  }

  h2 {
    color: #262626;
    font-size: 20px;
    font-family: 'BMWBold', 'arial', sans-serif !important;
  }

  h3 {
    color: #262626;
    font-size: 14px;
    font-family: 'BMWRegular', 'arial', sans-serif !important;
  }

  h4 {
    color: #8E8E8E;
    font-size: 30px;
    font-family: 'BMWBold', 'arial', sans-serif !important;
  }
  h5 {
    color: #000;
    font-size: 25px;
    font-family: 'BMWBold', 'arial', sans-serif !important;
  }
}

.selection-container-small {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  width: 100%;
  min-height: 100%;
  // margin-bottom: 20px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 99;

  .tab-style {
    color: #1C69D4;
    font-size: 14px;
    font-family: 'BMWLight',
      'arial',
      sans-serif !important;
  }
}

.info-btn-icon {
  font-size: 14px;
  cursor: pointer;
}

.toolT {
  color: #1C69D4;
  position: absolute;
  bottom: 55px;
  right: 3px;
  font-size: 18px;
  z-index: 1;
}

.left-head {
  position: absolute;
  top: 0px;

  h1 {
    color: #8E8E8E;
    font-size: 35px;
    font-family: 'BMWBold' !important;
  }

  h2 {
    color: #262626;
    font-size: 20px;
    font-family: 'BMWBold' !important;
  }

  h3 {
    color: #262626;
    font-size: 14px;
    font-family: 'BMWRegular' !important;
  }
}

.left-content-bottom {
  //z-index: 1;
  padding-right: 20px;
  font-size: 14px;
  font-family: 'BMWLight' !important;
}
.left-content-bottom ul{
  padding-left: 25px;  
}
.left-content2 {
  margin-top: 130px;
  z-index: -1;

  .img-after {
    opacity: 1;
    width: 100%;
    max-height: 300px;
  }
}

.grey-container {
  background-color: #F2F2F2;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: fit-content;

  h1 {
    color: #262626;
    font-size: 14px;
    font-family: 'BMWBold', 'arial', sans-serif !important;
  }

  .view-btn {
    width: 100%;
    text-align: left;
    border: 1px solid #8E8E8E;
    background: #ffffff;
    font-size: 14px;
    font-family: 'BMWBold', 'arial', sans-serif !important;
  }

  .view-btn-icon {
    padding-top: 5px;
    font-size: 25px;
  }
}

.view-btn-transparent,
.view-btn-transparent:active:hover:focus {
  width: 100%;
  text-align: center;
  background-color: transparent;
  font-size: 14px;
  box-shadow: none !important;
  border: none;
  outline: 0 !important;
  font-family: 'BMWBold', 'arial', sans-serif !important;
}

.view-btn-icon {
  padding-top: 5px;
  font-size: 25px;
}

.choose-btn,
.choose-btn:active:hover:focus {
  width: 100%;
  height: 70px;
  padding-top: 5px;
  border: 0px;
  text-align: center;
  color: #ffffff !important;
  font-size: 14px;
  box-shadow: none;
  font-family: 'BMWBold', 'arial', sans-serif !important;
}

.choose-btn-sm,
.choose-btn-sm:active:hover:focus {
  width: 100%;
  height: 70px;
  padding-top: 5px;
  border: 0px;
  text-align: center;
  //color: #ffffff !important;
  font-size: 14px;
  box-shadow: none;
  font-family: 'BMWBold', 'arial', sans-serif !important;
}

.mileage-btn,
.mileage-btn:active:hover:focus {
  width: 100%;
  height: 70px;
  padding-top: 5px;
  text-align: center;
  color: #262626 !important;
  background-color: #ffffff !important;
  border: 2px solid #707070 !important;
  font-size: 14px;
  box-shadow: none;
  font-family: 'BMWBold', 'arial', sans-serif !important;
}

.mileage-btn-chosen,
.mileage-btn-chosen:active:hover:focus {
  width: 100%;
  height: 70px;
  padding-top: 5px;
  border: 0px;
  text-align: center;
  color: #0653B6 !important;
  background-color: #ffffff !important;
  border: 2px solid #0653B6 !important;
  font-size: 14px;
  box-shadow: none;
  font-family: 'BMWBold', 'arial', sans-serif !important;
}

.comparison-btn,
.comparison-btn:active:hover:focus {
  width: 100%;
  // height: 40px;
  padding-bottom: 10px;
  text-align: center;
  color: #0653B6 !important;
  background-color: #ffffff !important;
  border: 2px solid #0653B6 !important;
  font-size: 14px;
  box-shadow: none;
  font-family: 'BMWBold', 'arial', sans-serif !important;
}

.comparison-btn-icon {
  color: #1C69D4;
  padding-top: 15px;
  font-size: 14px;
}

.footer-border {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  color: white;
  background-color: #4D4D4D;
  width: 100%;
  z-index: -1;
  font-family: 'BMWRegular', 'arial', sans-serif !important;
}

.financing-btn,
.financing-btn:active:hover:focus {
  width: 100%;
  padding-bottom: 10px;
  height: 100%;
  text-align: center;
  color: #0653B6 !important;
  // background-color: #1C69D4 !important;
  // border: 2px solid #1C69D4 !important;
  font-size: 14px;
  box-shadow: none;
  font-family: 'BMWBold', 'arial', sans-serif !important;
}

h1 {
  color: #262626;
  font-size: .75rem;
  font-family: 'BMWLight' !important;
}

h2 {
  color: #262626;
  font-size: 14px;
  //font-weight: bold;
  font-family: 'BMWLight',
    'arial',
    sans-serif !important;
}

h3 {
  color: #262626;
  font-size: 18px;
  font-family: 'BMWLight', 'arial', sans-serif !important;
}

h4 {
  color: #0653B6;
  font-size: 18px;
  font-family: 'BMWBold', 'arial', sans-serif !important;
}

h5 {
  color: #000;
  font-size: 25px;
  font-family: 'BMWBold', 'arial', sans-serif !important;
}

h6 {
  color: #8E8E8E;
  font-size: 14px;
  font-weight: bold;
  font-family: 'BMWBold', 'arial', sans-serif !important;
}

.mat-badge-content {
  font-family: 'BMWBold' !important;
  font-size: 10px;
  background-color: #1C69D4;
}

.variant-list {
  color: #666666;
  font-size: .75rem;
  font-family: 'BMWLight' !important;
}

.column {
  float: left;
  width: 25%;
  // padding: 0 10px;
  // overflow: hidden;
}

.row {
  margin: 0 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
  }
}

.backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 98;
}

.selection-container {
  position: absolute;
  top: 245px;
  right: 5%;
  border: 1px #707070 solid;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  width: 950px;
  min-height: 400px;
  margin-bottom: 20px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 99;

  .tab-style {
    color: #1C69D4;
    font-size: 14px;
    font-family: 'BMWBold', 'arial', sans-serif !important;
  }
}

.mat-tab {
  overflow: hidden;
}

.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #262626;
  font-family: 'BMWBold', 'arial', sans-serif !important;
}

.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #1C69D4;
  font-family: 'BMWBold', 'arial', sans-serif !important;
  opacity: 1 !important;
}

.mat-ink-bar {
  background-color: #1C69D4;
}

@media only screen and (min-width : 1224px) {
  .white_container {
    margin-top: 80px;
    padding-left: 50px;
  }
}

@media only screen and (min-width : 1224px) {
  .grey_container {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 80px;
  }

  .dropdown {
    margin-top: 60px;
  }
}

.financeButton {
  border: none;
  color: #000000;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  border: 2px solid #1C69D4; 
}

.applyFinancing {
  // background-color: #1C69D4;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  width: 230px;
  height: 50px;
  margin-top: 5px;
}

.saveButton {
  border: none;
  color: #1C69D4;
  background-color: transparent;
  padding-top: 10px;
  font-size: 14px;
}

.compares {
  img {
    max-width: 100%;
    height: auto;
    padding: 0px !important;
    margin: 0px !important;
  }
}

.second_white {
  margin-top: 40px;
  margin-bottom: 20px;
}

//mat-slider styling
.mat-slider-horizontal {
  width: 100%;
}

.price2 {
  color: #1C69D4;
  font-size: 20px;
}

.slider {
  mat-icon {
    font-size: 30px;
    margin-top: 10px;
  }
}

.titleSlider {
  padding-top: 20px;
}

// @media only screen
// and (min-width : 1224px)
// Added By AHSAN 20 AUG 2019
.close-button {
  text-align: right;
  font-size: 25px;
  color: grey;
  size: 40px;
}
.price_containerM {
  p {
    font-size: 14px;
    color: #262626;
    font-family: 'BMWRegular', 'arial', sans-serif !important;
    margin: 0px !important;
  }
  .price_blue1 {
    font-size: 20px;
    color: #1C69D4;
    font-family: 'BMWBold', 'arial', sans-serif !important;
  }

  .price_blue_small {
    font-size: 14px;
    color: #1C69D4;
    font-family: 'BMWBold', 'arial', sans-serif !important;
  }
}

.price_containerD {
  p {
    font-size: 14px;
    color: #262626;
    font-family: 'BMWRegular', 'arial', sans-serif !important;
    margin: 0px !important;
  }
  .price_blue1 {
    font-size: 20px;
    color: #1C69D4;
    font-family: 'BMWBold', 'arial', sans-serif !important;
  }

  .price_blue_small {
    font-size: 14px;
    color: #1C69D4;
    font-family: 'BMWBold', 'arial', sans-serif !important;
  }
}

.downTenure {
  h2 {
    text-align: center;
  }
}

.toolT {
  color: #1C69D4;
  position: absolute;
  bottom: 55px;
  right: 0px;
  font-size: 18px;
  z-index: 1;
  cursor: pointer;
  //background-color: #ffffff;
}

.info-container {
  position: absolute;
  top: 289px;
  right: 610px;
  border: 1px #707070 solid;
  margin: 0 auto;
  text-align: left;
  width: 270px;
  min-height: 400px;
  margin-bottom: 20px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 99;

  div.img-col {
    padding-right: 0px !important;
    padding-left: 0px !important;
    position: relative;
    text-align: right !important;
  }

  p.info_tittle1 {
    margin-top: 8px !important;
    font-size: 12px;
    font-family: 'BMWBold', 'arial', sans-serif !important;
    margin-right: 10px;
  }

  p.info_tittle1:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 70%;
    margin-right: -100%;
    // margin-left: 10px;
    border-top: 1px solid black;
  }

  p.info_tittle2 {
    font-size: 14px;
    font-family: 'BMWLight', 'arial', sans-serif !important;
    margin-top: -15px;
  }

  p.info_tittle3 {
    font-family: 'BMWLight', 'arial', sans-serif !important;
    font-size: 12px;
  }

  p.info_tittle4 {
    font-family: 'BMWLight', 'arial', sans-serif !important;
    font-size: 12px;
  }

  hr.info-line {
    border: 0.5px solid #0653B6;
  }
}

.balloon-container {
  position: absolute;
  top: 289px;
  right: 458px;
  border: 1px #707070 solid;
  margin: 0 auto;
  text-align: left;
  width: 270px;
  min-height: 400px;
  margin-bottom: 20px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 99;

  div.img-col {
    padding-right: 0px !important;
    padding-left: 0px !important;
    position: relative;
    text-align: right !important;
  }

  p.info_tittle1 {
    margin-top: 8px !important;
    font-size: 12px;
    font-family: 'BMWBold', 'arial', sans-serif !important;
    margin-right: 10px;
  }

  p.info_tittle1:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 70%;
    margin-right: -100%;
    // margin-left: 10px;
    border-top: 1px solid black;
  }

  p.info_tittle2 {
    font-size: 14px;
    font-family: 'BMWLight', 'arial', sans-serif !important;
    margin-top: -15px;
  }

  p.info_tittle3 {
    font-family: 'BMWLight', 'arial', sans-serif !important;
    font-size: 12px;
  }

  p.info_tittle4 {
    font-family: 'BMWLight', 'arial', sans-serif !important;
    font-size: 12px;
  }

  hr.info-line {
    border: 0.5px solid #0653B6;
  }
}

.straight-container {
  position: absolute;
  top: 289px;
  right: 329px;
  border: 1px #707070 solid;
  margin: 0 auto;
  text-align: left;
  width: 270px;
  min-height: 400px;
  margin-bottom: 20px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 99;

  div.img-col {
    padding-right: 0px !important;
    padding-left: 0px !important;
    position: relative;
    text-align: right !important;
  }

  p.info_tittle1 {
    margin-top: 8px !important;
    font-size: 12px;
    font-family: 'BMWBold', 'arial', sans-serif !important;
    margin-right: 10px;
  }

  p.info_tittle1:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 70%;
    margin-right: -100%;
    // margin-left: 10px;
    border-top: 1px solid black;
  }

  p.info_tittle2 {
    font-size: 14px;
    font-family: 'BMWLight', 'arial', sans-serif !important;
    margin-top: -15px;
  }

  p.info_tittle3 {
    font-family: 'BMWLight', 'arial', sans-serif !important;
    font-size: 12px;
  }

  p.info_tittle4 {
    font-family: 'BMWLight', 'arial', sans-serif !important;
    font-size: 12px;
  }

  hr.info-line {
    border: 0.5px solid #0653B6;
  }
}

.saveEmail_container {
  width: 100%;
  text-align: center;
  color: #1C69D4;
  font-size: 14px;
  cursor: pointer;
}

.backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 98;
}

.info-backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 98;
}

.balloon-backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 98;
}

.straight-backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 98;
}

@media only screen and (min-width : 1224px) {
  .info-container {
    position: absolute;
    top: 289px;
    right: 610px;
    border: 1px #707070 solid;
    margin: 0 auto;
    text-align: left;
    width: 270px;
    min-height: 400px;
    margin-bottom: 20px;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 99;

    div.img-col {
      padding-right: 0px !important;
      padding-left: 0px !important;
      position: relative;
      text-align: right !important;
    }

    p.info_tittle1 {
      margin-top: 8px !important;
      font-size: 10px;
      font-family: 'BMWBold', 'arial', sans-serif !important;
      margin-right: 10px;
    }

    p.info_tittle1:after {
      content: "";
      display: inline-block;
      height: 0.5em;
      vertical-align: bottom;
      width: 70%;
      margin-right: -100%;
      // margin-left: 10px;
      border-top: 1px solid black;
    }

    p.info_tittle2 {
      font-size: 14px;
      font-family: 'BMWLight', 'arial', sans-serif !important;
      margin-top: -15px;
    }

    p.info_tittle3 {
      font-family: 'BMWLight', 'arial', sans-serif !important;
      font-size: 12px;
    }

    p.info_tittle4 {
      font-family: 'BMWLight', 'arial', sans-serif !important;
      font-size: 12px;
    }

    hr.info-line {
      border: 0.5px solid #0653B6;
    }
  }

  .balloon-container {
    position: absolute;
    top: 289px;
    right: 458px;
    border: 1px #707070 solid;
    margin: 0 auto;
    text-align: left;
    width: 270px;
    min-height: 400px;
    margin-bottom: 20px;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 99;

    div.img-col {
      padding-right: 0px !important;
      padding-left: 0px !important;
      position: relative;
      text-align: right !important;
    }

    p.info_tittle1 {
      margin-top: 8px !important;
      font-size: 10px;
      font-family: 'BMWBold', 'arial', sans-serif !important;
      margin-right: 10px;
    }

    p.info_tittle1:after {
      content: "";
      display: inline-block;
      height: 0.5em;
      vertical-align: bottom;
      width: 70%;
      margin-right: -100%;
      // margin-left: 10px;
      border-top: 1px solid black;
    }

    p.info_tittle2 {
      font-size: 14px;
      font-family: 'BMWLight', 'arial', sans-serif !important;
      margin-top: -15px;
    }

    p.info_tittle3 {
      font-family: 'BMWLight', 'arial', sans-serif !important;
      font-size: 12px;
    }

    p.info_tittle4 {
      font-family: 'BMWLight', 'arial', sans-serif !important;
      font-size: 12px;
    }

    hr.info-line {
      border: 0.5px solid #0653B6;
    }
  }

  .straight-container {
    position: absolute;
    top: 289px;
    right: 329px;
    border: 1px #707070 solid;
    margin: 0 auto;
    text-align: left;
    width: 270px;
    min-height: 400px;
    margin-bottom: 20px;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 99;

    div.img-col {
      padding-right: 0px !important;
      padding-left: 0px !important;
      position: relative;
      text-align: right !important;
    }

    p.info_tittle1 {
      margin-top: 8px !important;
      font-size: 10px;
      font-family: 'BMWBold', 'arial', sans-serif !important;
      margin-right: 10px;
    }

    p.info_tittle1:after {
      content: "";
      display: inline-block;
      height: 0.5em;
      vertical-align: bottom;
      width: 70%;
      margin-right: -100%;
      // margin-left: 10px;
      border-top: 1px solid black;
    }

    p.info_tittle2 {
      font-size: 14px;
      font-family: 'BMWLight', 'arial', sans-serif !important;
      margin-top: -15px;
    }

    p.info_tittle3 {
      font-family: 'BMWLight', 'arial', sans-serif !important;
      font-size: 12px;
    }

    p.info_tittle4 {
      font-family: 'BMWLight', 'arial', sans-serif !important;
      font-size: 12px;
    }

    hr.info-line {
      border: 0.5px solid #0653B6;
    }
  }
}

@media only screen and (max-width : 1224px) {
  .info-container {
    position: absolute;
    top: 675px;
    left: 48px;
    border: 1px #707070 solid;
    margin: 0 auto;
    text-align: left;
    width: 270px;
    min-height: 400px;
    margin-bottom: 20px;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 99;

    div.img-col {
      padding-right: 0px !important;
      padding-left: 0px !important;
      position: relative;
      text-align: right !important;
    }

    p.info_tittle1 {
      margin-top: 8px !important;
      font-size: 10px;
      font-family: 'BMWBold', 'arial', sans-serif !important;
      margin-right: 10px;
    }

    p.info_tittle1:after {
      content: "";
      display: inline-block;
      height: 0.5em;
      vertical-align: bottom;
      width: 70%;
      margin-right: -100%;
      // margin-left: 10px;
      border-top: 1px solid black;
    }

    p.info_tittle2 {
      font-size: 14px;
      font-family: 'BMWLight', 'arial', sans-serif !important;
      margin-top: -15px;
    }

    p.info_tittle3 {
      font-family: 'BMWLight', 'arial', sans-serif !important;
      font-size: 12px;
    }

    p.info_tittle4 {
      font-family: 'BMWLight', 'arial', sans-serif !important;
      font-size: 12px;
    }

    hr.info-line {
      border: 0.5px solid #0653B6;
    }
  }

  .balloon-container {
    position: absolute;
    top: 675px;
    left: 48px;
    border: 1px #707070 solid;
    margin: 0 auto;
    text-align: left;
    width: 270px;
    min-height: 400px;
    margin-bottom: 20px;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 99;

    div.img-col {
      padding-right: 0px !important;
      padding-left: 0px !important;
      position: relative;
      text-align: right !important;
    }

    p.info_tittle1 {
      margin-top: 8px !important;
      font-size: 10px;
      font-family: 'BMWBold', 'arial', sans-serif !important;
      margin-right: 10px;
    }

    p.info_tittle1:after {
      content: "";
      display: inline-block;
      height: 0.5em;
      vertical-align: bottom;
      width: 70%;
      margin-right: -100%;
      // margin-left: 10px;
      border-top: 1px solid black;
    }

    p.info_tittle2 {
      font-size: 14px;
      font-family: 'BMWLight', 'arial', sans-serif !important;
      margin-top: -15px;
    }

    p.info_tittle3 {
      font-family: 'BMWLight', 'arial', sans-serif !important;
      font-size: 12px;
    }

    p.info_tittle4 {
      font-family: 'BMWLight', 'arial', sans-serif !important;
      font-size: 12px;
    }

    hr.info-line {
      border: 0.5px solid #0653B6;
    }
  }

  .straight-container {
    position: absolute;
    top: 675px;
    right: 50px;
    border: 1px #707070 solid;
    margin: 0 auto;
    text-align: left;
    width: 270px;
    min-height: 400px;
    margin-bottom: 20px;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 99;

    div.img-col {
      padding-right: 0px !important;
      padding-left: 0px !important;
      position: relative;
      text-align: right !important;
    }

    p.info_tittle1 {
      margin-top: 8px !important;
      font-size: 10px;
      font-family: 'BMWBold', 'arial', sans-serif !important;
      margin-right: 10px;
    }

    p.info_tittle1:after {
      content: "";
      display: inline-block;
      height: 0.5em;
      vertical-align: bottom;
      width: 70%;
      margin-right: -100%;
      border-top: 1px solid black;
    }

    p.info_tittle2 {
      font-size: 14px;
      font-family: 'BMWLight', 'arial', sans-serif !important;
      margin-top: -15px;
    }

    p.info_tittle3 {
      font-family: 'BMWLight', 'arial', sans-serif !important;
      font-size: 12px;
    }

    p.info_tittle4 {
      font-family: 'BMWLight', 'arial', sans-serif !important;
      font-size: 12px;
    }

    hr.info-line {
      border: 0.5px solid #0653B6;
    }
  }
}
.cl-12{
  width: 100%;
  padding-right: 15px;
  padding-left: 25px;
}
.cl-11{
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
}

.cl-13{
  flex: 0 0 100%; 
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px; 
  padding-right: 15px;
  padding-left: 15px;
}

.btn2{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;
}

@media only screen and (max-width : 1224px) {
  .btn {
    padding: .375rem .75rem !important;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .left-content2
    
    .img-after {
      width: inherit;
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .left-content2
    
    .img-after {
      width: 100%;
    }
}