/* You can add global styles to this file, and also import other style files */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bmw-fed-primary: mat-palette($mat-indigo);
$bmw-fed-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bmw-fed-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$bmw-fed-theme: mat-light-theme($bmw-fed-primary, $bmw-fed-accent, $bmw-fed-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bmw-fed-theme);

/* You can add global styles to this file, and also import other style files */
*:focus {
  outline: 0 !important;
  } 

@font-face {
  font-family: 'BMWRegular';
  font-style: normal;
  src:local('BMWRegular'),
      url('~/assets/fonts/BMWTypeNextTT-Regular.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'BMWBold';
  src: url('~/assets/fonts/BMWTypeNextTT-Bold.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'BMWLight';
  src: url('~/assets/fonts/BMWTypeNextTT-Light.woff2') format("woff2");
  font-display: swap;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'BMWRegular', 'BMWLight';
}

input {  
  font-family: 'BMWRegular', 'BMWLight';
}
textarea{
  font-family: 'BMWRegular', 'BMWLight';
}

a {  
  font-family: 'BMWRegular', 'BMWLight';
  color: #1C69D4;
}
a:hover{
  color: #0653b6;
  cursor:pointer;
}
p{
  font-family: 'BMWLight';
}

ul, ol, li{
  font-family: 'BMWRegular', 'BMWLight';
}

h1 {
  font-size: 14px;
  font-family: 'BMWLight' !important;
}

h2 {
  font-size: 16px;
  font-family: 'BMWLight' !important;
}

h3 {
  font-size: 18px;
  font-family: 'BMWLight' !important;
}
h4 {
  font-size: 20px;
  font-family: 'BMWLight' !important;
}

h5 {
  font-size: 22px;
  font-family: 'BMWBold' !important;  
}

h6 {
  font-size: 35px;
  font-family: 'BMWBold' !important;  
}
.grecaptcha-badge {
  opacity: 0;
  display: none;
  visibility: hidden;
}
.mat-option-text{
  font-family: 'BMWRegular', 'BMWLight' !important;
}
.mat-select-value-text {
  font-family: 'BMWRegular', 'BMWLight' !important;
}
.mat-select-placeholder{
  font-family: 'BMWRegular', 'BMWLight' !important;
}
.mat-input-element {
  font-family: 'BMWRegular', 'BMWRegular' !important;
  color: #000 !important;
}
textarea.mat-input-element {
  font-family: 'BMWRegular', 'BMWLight' !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
  color: #000 !important;
  font-size: 1.2rem !important;
  font-family: 'BMWRegular', 'BMWLight' !important;
}

.mat-form-field-infix {
  font-family: "BMWRegular", "BMWLight" !important;
  font-size: 1em !important;
}
.mat-paginator-page-size-label { 
  font-family: 'BMWRegular' !important;
}
.mat-form-field {
  font-family: 'BMWLight', 'BMWRegular' !important;
}
.custom-dialog-container .mat-dialog-container {
  border-radius: 0px !important;
  padding-top: 0px !important;
  padding-left: 15px !important;
}

.custom-dialog-container .mat-form-field-wrapper {
  padding-bottom: 5px !important;
}
.custom-dialog-container .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.7em !important;
}

.custom-dialog-container .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 1em;
}
.banner-container .mat-dialog-container {
  padding: 0px !important;
  overflow: hidden;
}

.next-btn{
  width: 100%;
  height: 50px;
  color: #fff !important;
  background-color: #1C69D4 !important;
  font-size: 14px;
  font-family: 'BMWBold' !important;
  border-color: #1C69D4 !important;
}
.next-btn:hover {
  background-color: #0653b6 !important;
  border-color: inherit !important;
}

.next-disable-btn{
  width: 100%;
  height: 50px;
  color: #fff !important;
  background-color: rgb(28, 105, 212, .3) !important;
  font-size: 14px;
  font-family: 'BMWBold' !important;
  border-color: inherit !important;
}

.next-grey-btn{
  width: 100%;
  height: 50px;
  color: #fff !important;
  background-color: #4d4d4d !important;
  font-size: 14px;
  font-family: 'BMWBold' !important;
  border-color: inherit !important;
}

.next-grey-btn:hover {
  background-color: #262626 !important;
  border-color: inherit !important;
}
.next-grey-disable-btn{
  width: 100%;
  height: 50px;
  color: #fff !important;
  background-color: rgb(77, 77, 77, .3) !important;
  font-size: 14px;
  font-family: 'BMWBold' !important;
  border-color: inherit !important;
}

.one-column > div{
  width: 100%;
  padding: 1em;
}

.one-column{
  display: grid;
  grid-gap: 10px;
}

.two-column > div{
  width: 100%;
  padding: 1em;
}

.two-column{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.three-column > div{
  width: 100%;
}

.three-column{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

 /* Portrait and Landscape */
 @media only screen 
 and (min-device-width: 320px) 
 and (max-device-width: 480px)
 and (-webkit-min-device-pixel-ratio: 2) {
  .two-column > div{
    width: 100%;
  }  
  .two-column{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .three-column > div{
    width: 100%;
  }
  
  .three-column{
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
 }